.app-wrapper {
    padding: 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 100%;
    background: var(--card-background);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
}